

/* .site-nav {
    float: right;
    line-height: 40px;
		margin-top: 15px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #ffffff;
    background: #f66733;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }



    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
*/ 



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(75% - (#{$spacing-unit} / 2));
    width:         calc(75% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

h1 /* .post-title */ {
/*    font-size: 42px; */
    letter-spacing: -1px;
    line-height: 1;
		font-family: 'Titillium Web', sans-serif;
		color: $title-color;

    @include media-query($on-laptop) {
/*        font-size: 36px; */
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
		font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
/*        font-size: 32px; */

        @include media-query($on-laptop) {
/*            font-size: 28px; */
        }
    }

    h3 {
		font-style: italic;
/*        font-size: 26px; */

        @include media-query($on-laptop) {
/*            font-size: 22px; */
        }
    }

    h4 {
/*       font-size: 20px; */

        @include media-query($on-laptop) {
/*            font-size: 18px; */
        }
    }
}

						.footnotes ol li {list-style-type:decimal;}
						.footnotes ol {font-size:.85em; color:#666666;}	
	
html {
  overflow-y: scroll;
}

ul.listing {
	list-style-type: none;
	margin-left: 0px;
}

ul.listing li.listing-seperator {
	padding-top: 15px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.17em;
}

ul.listing li.listing-item time {

	color: #333;
	font-weight: 500;
	text-transform: uppercase;
	padding-right: 10px;
}

ul.listing li.listing-item a {
	color: $clemson-purple;
	font-weight: 400;
	font-family: 'Titillium Web', sans-serif;
}


/*------ archive type stuff ------ */

ul#archive {
       list-style-type: none;
       margin: 0 0 1em 0;
       padding: 0;
}

ul#archive li {
    //    border-top: #999 1px dotted;
       border-bottom: #999 1px dotted;
       padding: .1em 0 .1em .5em;
       background: #fff;
}

ul#archive  h2 {
	padding-top: .5em }

ul#archive li.alt {
       background: #f6f6f6;
}

.archiveposturl {
       display: block;

       color: #333;
}

.archiveposturl:hover {

}

ul#archive li span a {
       color: $clemson-purple;
	font-weight: bold;
font-family: 'Titillium Web', sans-serif;
}


ul#archive li span.postlower {
	font-size: 85%

}

ul#archive li span.postlower a {
	color: #07c;
	font-weight: normal;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

article ul {
  list-style-type: none;
}

article ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 
}

article ul#archive > li:before {
  list-style-type: none;
  content: none;
}


/*
 Responsive Layout from Odin, MPL 2.0
*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $layout-spacing;
    padding-right: $layout-spacing;
    width: 100%;
  
    $grid-spacing: ($layout-spacing / ($layout-spacing * 0 + 1)) * $html-font-size;
  
    &.grid-xxl {
      max-width: $grid-spacing * 2 + $size-xxl;
    }
  
    &.grid-xl {
      max-width: $grid-spacing * 2 + $size-xl;
    }
  
    &.grid-lg {
      max-width: $grid-spacing * 2 + $size-lg;
    }
  
    &.grid-md {
      max-width: $grid-spacing * 2 + $size-md;
    }
  
    &.grid-sm {
      max-width: $grid-spacing * 2 + $size-sm;
    }
  
    &.grid-xs {
      max-width: $grid-spacing * 2 + $size-xs;
    }
  }
  
  // Responsive breakpoint system
  .show-xs,
  .show-sm,
  .show-md,
  .show-lg,
  .show-xl {
    display: none !important;
  }
  
  .x-align {
    align-items: center;
  }
  
  @media (min-width: $size-md) {
    .columns {
      margin-left: -$layout-spacing;
      margin-right: -$layout-spacing;
    }
  }
  
  // Responsive grid system
  .columns {
    display: flex;
    flex-wrap: wrap;
  
  
    &.col-x-align {
      align-items: center;
    }
  
    &.col-gapless {
      margin-left: 0;
      margin-right: 0;
  
      & > .column {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.col-oneline {
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }
  
  /*@media (min-width: $size-md) {
    .column {
      
    }
  }*/
  
  .column {
    padding-left: $layout-spacing;
    padding-right: $layout-spacing;
    flex: 1;
    max-width: 100%;
    
  
    &.col-12,
    &.col-11,
    &.col-10,
    &.col-9,
    &.col-8,
    &.col-7,
    &.col-6,
    &.col-5,
    &.col-4,
    &.col-3,
    &.col-2,
    &.col-1,
    &.col-auto {
      flex: none;
    }
  }
  .col-12 {
    width: 45%;
  }
  .col-11 {
    width: 45%;
  }
  .col-10 {
    width: 45%;
  }
  .col-9 {
    width: 45%;
  }
  .col-8 {
    width: 60%;
  }
  .col-7 {
    width: 50%;
  }
  .col-6 {
    width: 30%;
  }
  .col-5 {
    width: 30%;
  }
  .col-4 {
    width: 30%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-auto {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
  }
  .col-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .col-ml-auto {
    margin-left: auto;
  }
  .col-mr-auto {
    margin-right: auto;
  }
  @media (max-width: $size-xl) {
    .col-xl-12,
    .col-xl-11,
    .col-xl-10,
    .col-xl-9,
    .col-xl-8,
    .col-xl-7,
    .col-xl-6,
    .col-xl-5,
    .col-xl-4,
    .col-xl-3,
    .col-xl-2,
    .col-xl-1,
    .col-xl-auto {
      flex: none;
    }
    .col-xl-12 {
      width: 100%;
    }
    .col-xl-11 {
      width: 91.66666667%;
    }
    .col-xl-10 {
      width: 83.33333333%;
    }
    .col-xl-9 {
      width: 75%;
    }
    .col-xl-8 {
      width: 66.66666667%;
    }
    .col-xl-7 {
      width: 58.33333333%;
    }
    .col-xl-6 {
      width: 50%;
    }
    .col-xl-5 {
      width: 41.66666667%;
    }
    .col-xl-4 {
      width: 33.33333333%;
    }
    .col-xl-3 {
      width: 25%;
    }
    .col-xl-2 {
      width: 16.66666667%;
    }
    .col-xl-1 {
      width: 8.33333333%;
    }
    .col-xl-auto {
      width: auto;
    }
    .hide-xl {
      display: none !important;
    }
    .show-xl {
      display: block !important;
    }
  }
  @media (max-width: $size-lg) {
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1,
    .col-lg-auto {
      flex: none;
    }
    .col-lg-12 {
      width: 100%;
    }
    .col-lg-11 {
      width: 91.66666667%;
    }
    .col-lg-10 {
      width: 83.33333333%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-8 {
      width: 66.66666667%;
    }
    .col-lg-7 {
      width: 58.33333333%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-5 {
      width: 41.66666667%;
    }
    .col-lg-4 {
      width: 33.33333333%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-2 {
      width: 16.66666667%;
    }
    .col-lg-1 {
      width: 8.33333333%;
    }
    .col-lg-auto {
      width: auto;
    }
    .hide-lg {
      display: none !important;
    }
    .show-lg {
      display: block !important;
    }
  }
  @media (max-width: $size-md) {
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1,
    .col-md-auto {
      flex: none;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    .col-md-auto {
      width: auto;
    }
    .hide-md {
      display: none !important;
    }
    .show-md {
      display: block !important;
    }
  }
  @media (max-width: $size-sm) {
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1,
    .col-sm-auto {
      flex: none;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-auto {
      width: auto;
    }
    .hide-sm {
      display: none !important;
    }
    .show-sm {
      display: block !important;
    }
  }
  @media (max-width: $size-xs) {
    .col-xs-12,
    .col-xs-11,
    .col-xs-10,
    .col-xs-9,
    .col-xs-8,
    .col-xs-7,
    .col-xs-6,
    .col-xs-5,
    .col-xs-4,
    .col-xs-3,
    .col-xs-2,
    .col-xs-1,
    .col-xs-auto {
      flex: none;
    }
    .col-xs-12 {
      width: 100%;
    }
    .col-xs-11 {
      width: 91.66666667%;
    }
    .col-xs-10 {
      width: 83.33333333%;
    }
    .col-xs-9 {
      width: 75%;
    }
    .col-xs-8 {
      width: 66.66666667%;
    }
    .col-xs-7 {
      width: 58.33333333%;
    }
    .col-xs-6 {
      width: 50%;
    }
    .col-xs-5 {
      width: 41.66666667%;
    }
    .col-xs-4 {
      width: 33.33333333%;
    }
    .col-xs-3 {
      width: 25%;
    }
    .col-xs-2 {
      width: 16.66666667%;
    }
    .col-xs-1 {
      width: 8.33333333%;
    }
    .col-xs-auto {
      width: auto;
    }
    .hide-xs {
      display: none !important;
    }
    .show-xs {
      display: block !important;
    }
  }

  /*
  Cards
  */


.card-link {
    color: $dark-color;
    font-weight: 400;
    position: relative;
    transition: all ease 0.3s;
    &:hover {
      color: $highlight-color;
      -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      -o-transform: translateY(-4px);
      -webkit-transform: translateY(-4px);
      transform:  translateY(-4px);
    }
  }
  
  .card {
    border: 1px solid $border-color;
    background: $white;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: $light-shadow;
    margin: 10px 0;
    &.card-hover {
      display: block;
      top: 0px;
      position: relative;
      text-decoration: none;
      z-index: 0;
      overflow: hidden;
      border: 1px solid $border-color;
      transition: all 0.2s ease;
      &:hover {
        cursor: pointer;
        box-shadow: $hover-shadow;
        top: -4px;
        border: 1px solid $error;
        background-color: white;
      }
      &.active-notifications {
        padding-bottom: 18px;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: -16px;
          right: -16px;
          background: $error;
          height: 32px;
          width: 32px;
          border-radius: 32px;
          transform: scale(2);
          transform-origin: 50% 50%;
          transition: transform 0.15s ease-out;
        }
      }
      
    
      &:hover:before {
        transform: scale(2.15);
      }
    }
    .card-header,
    .card-body,
    .card-footer {
      padding: $layout-spacing-lg;
      padding-bottom: 0;
    }
  
    .card-body {
      flex: 1 1 auto;
      &.card-body-h-center {
        display: flex;
        align-items: center;
      }
    }
  
    .card-image {
      padding-top: $layout-spacing-lg;
      position: relative;
  
      &:first-child {
        padding-top: 0;
  
        img {
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
  
      &:last-child {
        img {
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
      & .img-overlay {
        &.top-right {
          position: absolute;
          top: 3px;
          right: 6px;
        }
      }
    }
  }

/* ul#archive li span {
       color: #000;
       font-size: 85%;
}



ul#archive li span a:hover {
       border-bottom: #bdbdbd 1px solid;
} */
