// theme #7
 $primary-color:  #994c5f;
 $accent-color: #da7b93;
 $title-color: #1c3334;
 $header-color: #2f4454;
 $header-text-color: #fff;
 $header-background-opacity: 0.6;
 $header-background-invert: 0%;

