---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;"> </h1>

    {% include announcements.html %}
    <br />

    <p>{{ site.course_description }}</p>
    
    {{ content }}

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2> Destaques </h2>
    {% for offer in site.data.previous_offering.offerings %}
    <div class="column col-12">
        <a href="{{ site.baseurl}}{{ offer.url }}">
          <div class="card card-link my-1">
            <div class="card-body">
              <div class="columns col-x-align">
                <div class="column col col-sm-12">
                  <h5 class="text-semibold m-0">{{ offer.title }}</h5>
                  <p class="m-0 text-dark"> detalhes </p>
                </div>
                <div class="column col-auto hide-sm">
                  <div class="flex-vertical-center">
                    <figure class="avatar d-inline-block" style="align-items: center;">
                      <img  src="{{ site.baseurl }}/assets/{{ offer.image}}" alt="...">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    {% endif %}

    <br>
    <div>
    </div>
</div>
